a {
  color: $highlight;
  transition: color 0.25s ease, border 0.25s ease;
  border-bottom: 1px solid transparent;
  &:hover {
    color: $highlight-high;
    border-color: $highlight-high;
  }
}

.topic-status .d-icon {
  color: $secondary-low;
}
