.category-list {
  background-color: $header-background;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-bottom: none;
  
  thead {
    border-left: 2px solid $header_primary-low;
    background-color: $header_primary-low;
    th {
      color: $header-primary;
      text-transform: uppercase;
      padding: 1rem 2rem;
    }
  }

  tbody {
    tr {
      border-bottom: 2px solid;
      border-bottom-color: $header-primary-low;

      &:hover {
        background-color: $header-primary-low;
      }

      .category {
        border-left-width: 4px;
        padding: 3rem 1rem
      }
    }
  }
}

.discourse-tag {
  background-color: rgba($highlight, 0.25);

  margin: 0 0.5rem;
  padding: 0.25rem;
  border-radius: 4px;
  &::after {
    display: none;
  }
}
