.footer-message {
  border: none;

  .education {
    border-top-width: 1px;
    background-color: $header_background;
    border-radius: 3px;
    color: $header-primary-medium;
  }

  a {
    transition: 0.25s ease border;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $highlight;
    }
  }
}
