.d-header {
  background-color: #414336;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 7px 21px 0px;

  .header-dropdown-toggle {
    .d-icon {
      color: $header_primary;
    }
  }
}

.discourse-no-touch .d-header-icons .icon:hover,
.discourse-no-touch .d-header-icons .icon:focus {
  background-color: $header-primary-low;
  color: $header-primary;
  border-radius: 3px;
}
