.nav .active {
  border-radius: 4px;
}

.nav-pills > li > a {
  color: $secondary-low;
  border-radius: 4px;

  &:hover {
    background-color: $secondary-high;
    color: $secondary;
  }
}

.nav-stacked {
  border-radius: 4px;
  a {
    background-color: $header-background;
    transition: 0.25s ease background-color;

    &:hover {
      background-color: $header-primary-low;
    }
  }
}

.action-list li {
  background-color: $header-background;
}

.user-secondary-navigation .nav-stacked a.active {
  background-color: rgba($primary, 0.25);
}
