.alert {
  border-radius: 3px;

  a {
    font-weight: bold;
    color: $highlight-high;
    border-bottom: 2px solid transparent;
    transition: border 0.25s ease;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 2px solid $highlight-high;
    }
  }
}

.alert.alert-info {
  //   background-color: alpha(var(--quaternary), 0.5);
  background-color: rgba($highlight, 0.2);
  color: rgba($highlight, 0.8);
}

// $olive-drab: #565a43ff;
// $rifle-green: #414336ff;
// $jet: #2b2c28ff;
// $black-olive: #3e3f3cff;
// $davys-grey: #50504eff;
// $dim-gray: #60605eff;
// $khaki-web: #c4b895ff;
// $gold: #f5cb5c;
// $beige: #e8eddf;
// $white: #ffffffff;
// $deep-chestnut: #BD4B4B;

// "29th-New": {
//     "primary": "414336",
//     "secondary": "565a43",
//     "tertiary": "0f82af",
//     "quaternary": "f5cb5c",
//     "header_background": "414336",
//     "header_primary": "e8eddf",
//     "highlight": "f5cb5c",
//     "danger": "BD4B4B",
//     "success": "f5cb5c",
//     "love": "f5cb5c"
//   }
