input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
  border-radius: 3px;
  transition: background-color 0.25s ease, border 0.25s ease, color 0.25s ease;

  &:hover {
    border-color: $secondary-medium;
    background-color: $secondary-high;
  }

  &:focus,
  &:active {
    outline: 0;
    border-radius: 3px;
    border-color: $highlight;
    background-color: rgba($highlight, 0.1);
  }
}

// Date/Time Inputs
.select-kit.single-select.is-expanded .select-kit-header:not(.btn),
.select-kit.single-select .select-kit-header:not(.btn):focus,
.select-kit.single-select .select-kit-header:not(.btn):active {
  border-color: var(--tertiary);
  outline: none;
  border-radius: 3px;
  background-color: rgba($highlight, 0.1);
  outline-offset: 0;
}

.select-kit.is-expanded .select-kit-body {
  background-color: $header-background;
  color: $header-primary;
}

.select-kit.combo-box .select-kit-row {
  background-color: $header-background;
}
.select-kit.combo-box .select-kit-row.is-highlighted {
  background-color: $header-primary-low;
}

.d-date-time-input {
  border-radius: 3px;
  border-color: $header-primary-low-mid;
  margin-right: 0.5rem;
}

.d-date-time-input-range {
  border: none;
}

.pika-single,
.pika-label,
.pika-day {
  background-color: $header_background;
}

.pika-single.is-bound {
  border-radius: 3px;
  margin-top: 1rem;
}

.select-kit-body {
  margin-top: 1rem;
}
